<html>
    <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/dist/css/skins/skin-blue.min.css">
 <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
        <title>Laporan</title>
    </head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="\" class="logo">
      <span class="logo-mini"><b>AT</b></span>
      <span class="logo-lg"><b>Admin Ticketing</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <div class="navbar-custom-menu">
          <ul class="navbar-nav nav">
            <li class="dropdown user user-menu">
           <a href="/logout" class="btn btn-flat">Log-Out</a>  
                         </li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>
        <li><a href="\admin"><i class="fa fa-link"></i> <span>Admin</span></a></li>
        <li><a href="\ditunda"><i class="fa fa-link"></i> <span>Ditunda</span></a></li>
        <li><a href="\diterima"><i class="fa fa-link"></i> <span>Diterima</span></a></li>
        <li><a href="\ditolak"><i class="fa fa-link"></i> <span>Ditolak</span></a></li>
        <li><a href="\selesai"><i class="fa fa-link"></i> <span>Selesai</span></a></li>
      </ul>
    </section>
  </aside>
